@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Anasayfa";
}

<h1 style=" text-align:center">Anasayfa</h1>
@*<p>@HttpContextAccessor.HttpContext.Session.GetString("fact_Id")</p>
    <p>@HttpContextAccessor.HttpContext.Session.GetString("fact_Email")</p>
    <p>@HttpContextAccessor.HttpContext.Session.GetString("fact_Name")</p>*@